@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'poppins';
    color: #BF0606;
    background-image: linear-gradient( to left, #FADADD 30%,#DB939A 95%);
    font-weight: bold;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    margin-top: 10px;
    margin-bottom: 40px;
}

header img {
    width: 75px; 
    height: 60px;
}

nav a {
    text-decoration: none;
    color: #BF0606;
    font-weight: bold;
    margin-left: 30px; 
}
footer a{
    text-decoration: none;
    color: rgb(13, 139, 242);
}
footer a:hover{
    color: blue;
    transition: color 0.5s;
}

nav a:hover {
    color: #FE7254;
    transition: color 0.5s;
}
iframe{
    border-radius: 20px;
    margin: 0 20px 0 20px; 
}
footer{
    text-align: center;
    font-weight: bold;
}
#titulo{
    font-weight: bold;
    font-size: 26px;
    width: 480px;
    height: 151px;
    text-align: center;
    background-image: linear-gradient( to right, #EE818C 25% ,#FFC6CB 100%);
    border-radius: 70px 0px 70px 0px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 80px;
}
.titulo-belezas-naturais{
    font-weight: bold;
    font-size: 26px;
    width: 480px;
    height: 151px;
    text-align: center;
    background-image: linear-gradient( to right, #EE818C 25% ,#FFC6CB 100%);
    border-radius: 70px 70px 70px 70px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 60px;
    margin-top: 101px;
}
figure {
    display: flex;
    justify-content: center; 
    gap: 60px; 
    margin: 0 auto; 
}

.img_menor {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.conteudo{
    font-weight: bold;
    font-size: 16px;
    width: 1114px;
    height: 218px;
    text-align: center;
    background-image: linear-gradient( to right, #EE818C 25% ,#FFC6CB 100%);
    border-radius: 40px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 56px;
    padding: 20px;
    box-sizing: border-box; 
}
.conteudo-belezas-naturais{
    font-weight: bold;
    font-size: 16px;
    width: 1200px;
    height: 293px;
    text-align: center;
    background-image: linear-gradient( to right, #EE818C 25% ,#FFC6CB 100%);
    border-radius: 40px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 56px;
    margin-top: 51px;
    padding: 20px;
    box-sizing: border-box; 
}
.img-maior{
    height: 400px;
    width: 615px;
    border-radius: 30px;
}
.iframe-maps{
    display: flex;
    justify-content: center;
    gap: 10px; 
}
#youtube{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 800px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}